.task-board {
  --task-list-min-width: 290px;
  --task-list-max-width: 350px;

  display: flex;
  flex-wrap: nowrap;
  align-items: start;
  gap: 2rem;
  padding: 2rem;
  overflow: hidden;
}

.task-board > section {
  width: clamp(var(--task-list-min-width), 30vw, var(--task-list-max-width));
  flex: 0 0 clamp(var(--task-list-min-width), 30vw, var(--task-list-max-width));
  box-sizing: border-box;
}

.task-board-content {
  display: flex;
  gap: 2rem;
}

/* DRAG & DROP STYLES - LISTAS */
.task-list-draggable-item {
  display: flex;
}

:host ::ng-deep .cdk-drag-placeholder {
  opacity: 0.1;
  border-radius: 16px;
  background: #5f5c5c;
  & > * {
    visibility: hidden;
  }
}
