.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 8px 8px;
  border-bottom: solid 1px #ccc;
}

.task-title {
  flex: 1;
  font-family: inherit;
  font-size: 1em;
  font-weight: 400;
  color: inherit;
  line-height: 1.5;
  letter-spacing: normal;
  margin: 0 8px;
  cursor: pointer;
  transition: color 0.2s, font-style 0.2s;
}

.task-menu {
  background: none;
  border: none;
  font-size: 1.3em;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;

  .task-menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
