<section class="task-list">
  <header
    class="task-list-header"
    (mouseenter)="isMouseOverTitle.set(true)"
    (mouseleave)="isMouseOverTitle.set(false)"
  >
    @if (isEditingTitle()) {
      <input
        #taskListTitleInput
        class="task-list-title-edit-input"
        [value]="taskList().title"
        (blur)="handleListTitleInputBlur()"
        (keydown)="handleListTitleInputKeydown($event)"
        placeholder="Título da lista"
      />
    } @else {
      <span class="task-list-title">{{ taskList().title }}</span>
      <button
        class="task-list-title-edit-button"
        [class.invisible]="!isMouseOverTitle()"
        (click)="startEditingListTitle()"
        aria-label="Editar título da lista"
      >
        <mat-icon>edit</mat-icon>
      </button>
    }
  </header>
  @if (taskList().tasks.length === 0) {
    <p class="no-tasks-message">Nenhuma tarefa cadastrada ainda.</p>
  } @else {
    @for (task of taskList().tasks; track task.id) {
      <task-item-ui
        [task]="task"
        (onTitleUpdated)="handleTaskTitleUpdated($event)"
        (onToggleTaskCompletion)="handleToggleTaskCompletion($event)"
        (onArchiveTask)="handleTaskArchived($event)"
        [editModeEnabled]="isNewTask(task)"
        (onEditSkipped)="handleNewTaskSkipped($event)"
      />
    }
  }
  <footer class="task-list-footer">
    <button
      mat-button
      class="add-task-button"
      (click)="handleAddTaskButtonClick()"
      aria-label="Adicionar nova tarefa"
    >
      <mat-icon>add</mat-icon>
      <span class="add-task-button-label">Adicionar tarefa</span>
    </button>
  </footer>
</section>
