.task-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #f4f5fa;
  border-radius: 16px;
  box-shadow: 0 2px 12px 0 rgba(60, 60, 100, 0.08);
  padding: 24px 18px 18px 18px;
  min-width: var(--task-list-min-width, 320px);
  max-width: var(--task-list-max-width, 400px);
  min-height: 20vh;
  border: 1px solid #e0e3ea;
}

.task-list-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.task-list-title,
.task-list-title-edit-input {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding-left: 16px;
  padding-bottom: 16px;
  font-size: 1.5em;
}
.task-list-title {
  padding-top: 4px;
  padding-bottom: 18px;
}
.task-list-title-edit-input {
  color: #1976d2;
  font-style: italic;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.task-list-title-edit-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
  .material-icons {
    font-size: 1.4em;
  }
  &.invisible {
    opacity: 0;
    pointer-events: none;
  }
}

.task-list-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;
}

.add-task-button {
  .material-icons {
    font-size: 1.5em;
  }
  .add-task-button-label {
    font-weight: 500;
  }
}

/* DRAG & DROP STYLES */
.task-list-draggable-area {
  display: flex;
  flex-direction: column;
}
.task-item-draggable {
  background: inherit;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
:host ::ng-deep .cdk-drag-placeholder {
  opacity: 0.1;
  border-radius: 4px;
  background: #5f5c5c;
  & > * {
    visibility: hidden;
  }
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.task-item-draggable:last-child {
  border: none;
}
.task-list-draggable-area.cdk-drop-list-dragging .task-item-draggable:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
