.task-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #f4f5fa;
  border-radius: 16px;
  box-shadow: 0 2px 12px 0 rgba(60, 60, 100, 0.08);
  padding: 24px 18px 18px 18px;
  min-width: 320px;
  max-width: 400px;
  min-height: 10vh;
  border: 1px solid #e0e3ea;
}

.task-list-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.task-list-title,
.task-list-title-edit-input {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding-left: 16px;
  padding-bottom: 16px;
  font-size: 1.5em;
}
.task-list-title {
  padding-top: 4px;
  padding-bottom: 18px;
}
.task-list-title-edit-input {
  color: #1976d2;
  font-style: italic;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.task-list-title-edit-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
  .material-icons {
    font-size: 1.4em;
  }
  &.invisible {
    opacity: 0;
    pointer-events: none;
  }
}

.no-tasks-message {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #666;
  text-align: center;
  margin-top: 8px;
}

.add-task-button {
  .material-icons {
    font-size: 1.5em;
  }
  .add-task-button-label {
    font-weight: 500;
  }
}
