<section class="task-list">
  <header
    class="task-list-header"
    (mouseenter)="isMouseOverTitle.set(true)"
    (mouseleave)="isMouseOverTitle.set(false)"
  >
    @if (isEditingTitle()) {
      <input
        #taskListTitleInput
        class="task-list-title-edit-input"
        [value]="taskList().title"
        (blur)="handleListTitleInputBlur()"
        (keydown)="handleListTitleInputKeydown($event)"
        placeholder="Título da lista"
      />
    } @else {
      <span class="task-list-title">{{ taskList().title }}</span>
      <button
        class="task-list-title-edit-button"
        [class.invisible]="!isMouseOverTitle()"
        (click)="startEditingListTitle()"
        aria-label="Editar título da lista"
      >
        <mat-icon>edit</mat-icon>
      </button>
    }
    <div class="list-drag-handle" cdkDragHandle>
      <mat-icon>drag_indicator</mat-icon>
    </div>
  </header>
  <div
    cdkDropList
    class="task-list-content task-list-draggable-area"
    [cdkDropListConnectedTo]="connectedToIds()"
    [id]="taskList().id"
    [cdkDropListData]="taskList().tasks"
    (cdkDropListDropped)="handleTaskDropped($event)"
  >
    @for (task of taskList().tasks; track task.id) {
      @if (isNewTask(task)) {
        <task-item-editable-ui
          [task]="task"
          (onComplete)="handleNewTaskConfirmed($event)"
          (onCancel)="handleNewTaskSkipped($event)"
        />
      } @else {
        @if (editingTaskId() === task.id) {
          <task-item-editable-ui
            [task]="task"
            (onComplete)="handleTaskTitleUpdated($event)"
            (onCancel)="handleTaskTitleEditCanceled()"
          />
        } @else {
          <task-item-ui
            [task]="task"
            class="task-item-draggable"
            cdkDrag
            [cdkDragData]="task"
            (onToggleTaskCompletion)="handleToggleTaskCompletion($event)"
            (onArchiveTask)="handleTaskArchived($event)"
            (onTaskTitleEditRequest)="handleTaskTitleEditRequest($event)"
          />
        }
      }
    }
  </div>
  <footer class="task-list-footer">
    <button
      mat-button
      class="add-task-button"
      (click)="handleAddTaskButtonClick()"
      aria-label="Adicionar nova tarefa"
    >
      <mat-icon>add</mat-icon>
      <span class="add-task-button-label">Adicionar tarefa</span>
    </button>
  </footer>
</section>
